<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="practice.CountWords"/>
      <class name="newcms.dropdown"/>
      <class name="newcms.newcms_base"/>
      <class name="luxeregister.MultiloginDataProvider"/>
      <class name="luxeregister.roughloginclass"/>
      <class name="luxeregister.MultiLoginExecl"/>
      <class name="luxeregister.roughclass"/>
      <class name="luxeregister.LinkCountTest"/>
      <class name="practice.Dropdown"/>
      <class name="newcms.Urlcount"/>
      <class name="luxeregister.LoginPOIListener"/>
      <class name="newcms.Static_Page"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
